---
---
{{ reference }}
<div>
	{% if entry.doi %}
    <span><a href="{{ entry.doi | prepend: 'http://doi.org/' }}" class="btn btn--info btn--small">doi</a></span>
	{% elsif entry.url %}
    <span><a href="{{ entry.url }}" class="btn btn--info btn--small">url</a></span>
 	{% endif %}
	{% if entry.software%}
    <span><a href="{{ entry.software }}" class="btn btn--warning btn--small">software</a></span>
 	{% endif %}
 	{% if entry.pdf %}
    <span><a href="{{ entry.pdf }}" class="btn btn--info btn--small">pdf</a></span>
 	{% endif %}
</div>
<!--
<pre>{{ entry.bibtex }}</pre>
-->
