name: homepage build

on:
  push:
    branches: [ source ]
  pull_request:
    branches: [ source ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout source
      uses: actions/checkout@v2

    - name: Set up ruby
    # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
    # change this to (see https://github.com/ruby/setup-ruby#versioning):
    # uses: ruby/setup-ruby@v1
      uses: ruby/setup-ruby@ec106b438a1ff6ff109590de34ddc62c540232e0
      with:
        ruby-version: 2.6

    - name: Install dependencies
      run: bundle install

    - name: Build pages
      run: JEKYLL_ENV=production bundle exec jekyll build

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_site
        publish_branch: master
